[2018-03-22 10:27] alexxa opened #1 "use cdrom for cloudinit when kubevirt 0.3 is out"
Replacing ToDos from Readme with this issue.

[2018-03-22 13:04] alexxa opened #3 "Document modules according to Ansible requirements"
Currently modules don't follow Ansible module documentation standards. [1]

[1] http://docs.ansible.com/ansible/latest/dev_guide/developing_modules_documenting.html

[2018-03-23 10:25] karmab commented on #1
it was actually done in the code so closing this one

[2018-03-23 10:25] #1 closed

[2018-03-23 15:14] alexxa opened #5 "Check required status of modules options"
As I understand from [kubevirt_*.py](https://github.com/kubevirt/ansible-kubevirt-modules/tree/master/library), there is no single required option. It can't be that way. At least `name` should be `"required": True.`

Then, if I run playbook similar to:

[code]

It always fails, because of 'missing namespace'. And so on.

[2018-03-23 16:20] karmab commented on #5
while not perfect, it was designed this way for the use case where all data is provided from a src file ( which would typically contain name and namespace)

[2018-03-23 16:26] alexxa commented on #5
"src": {"required": False, "type": "str"}

https://github.com/kubevirt/ansible-kubevirt-modules/blob/master/library/kubevirt_vm.py#L73

[2018-03-23 18:17] karmab commented on #5
right, nor src nor name are required, because you can either use an option or the other
but if you dont define a src attribute and still dont put a name or namespace, you get an error. that s how it s supposed to behave to handle those 2 different ways to provide values

[2018-03-23 21:32] karmab commented on #5
actually i agree @alexxa so  i changed the module to instead:

- make name and namespace mandatory
- when a src file is provided, verify that name within matches indicated name, and if an optional namespace is found, that it matches the indicated namespace

[2018-03-23 21:36] karmab opened #7 "Provide kubevirt_ovm module"
Provide kubevirt_ovm module

[2018-03-23 21:36] karmab commented on #7
to be addressed by https://github.com/kubevirt/ansible-kubevirt-modules/pull/8

[2018-03-26 09:29] #7 closed

[2018-03-26 10:45] alexxa commented on #5
This issue is about all modules. ATM, there is no single required option in kubectl_vmrs.py.

[2018-03-26 11:06] alexxa opened #9 "registrydisk option does't work"
[code]

[2018-03-26 11:20] karmab commented on #9
is it possible that you pull from galaxy from testing ?
anyway, i ve also refreshed the galaxy repo

[2018-03-26 11:38] alexxa commented on #9
It works now.

[2018-03-26 11:38] #9 closed

[2018-03-29 11:23] alexxa opened #12 "copy past of kubevirt_vm in kubevirt_ovm"
- kubevirt_ovm should use `ovm` variable, not `vm`.
- docstrings were not updated with ovm too. For example, Examples section lists `kubevirt_vm` module, not `kubevirt_ovm`.

And maybe in line
https://github.com/kubevirt/ansible-kubevirt-modules/blob/master/library/kubevirt_ovm.py#L51
it should be s/virtualmachines/offlinevirtualmachines/?

[2018-04-03 16:29] alexxa opened #13 "remove lun, iqn, target"
by @fabiand: "lun, iqn, target -- all should be removed, as we only support pvc since 0.4.0 (direct iscsi support was dropped)"

[2018-04-03 16:34] alexxa commented on #13
ops, it was removed already.

[2018-04-03 16:34] #13 closed

[2018-04-04 15:25] tripledes commented on #12
@alexxa let me know if #14 would be enough, though I still would like to refactor few things, e.g. linting, but in a separate issue and perhaps after merging #4.

[2018-04-05 05:44] #12 closed

[2018-04-05 13:12] alexxa opened #16 "ansible-doc can't generate docs for vm and ovm modules"
ansible-doc can't generate docs for vm and ovm modules
vmrs works fine.

[code]

[2018-04-05 13:42] alexxa commented on #16
Fixed by @tripledes in PR #17. Thanks!

[2018-04-05 13:42] #16 closed

[2018-04-06 08:36] #5 closed

[2018-04-06 08:37] alexxa commented on #3
Fixed in PR #4.

[2018-04-06 08:37] #3 closed

[2018-04-09 09:31] alexxa opened #18 "options mismatch in docs section and main()"
There are `disk` and `cdrom` options in docs section of [library/kubevirt_vm.py](https://github.com/kubevirt/ansible-kubevirt-modules/blob/master/library/kubevirt_vm.py) but they are not in main().

[2018-04-09 10:05] karmab commented on #18
submitted https://github.com/kubevirt/ansible-kubevirt-modules/pull/19 to clean this up, along with pep8

[2018-04-09 10:18] tripledes opened #20 "Allow disabling SSL verification"
Currently modules fail when using custom certs with the following error:

[code]

[2018-04-09 10:21] tripledes opened #21 "Refactor modules"
Refactoring for:

* Following PEP8 as much as possible
* Make them more modular so easing modifications, tests, ...

[2018-04-09 10:22] tripledes opened #22 "Add unit tests to the modules"
Besides having ansible-specific modules under `tests` directory, it's required to have unit tests.

[2018-04-09 10:29] alexxa opened #23 "pvc and registrydisk design"
Review usage of pvc and registrydisk options on all modules, please. Whether any should be required and have a default value. ATM docs say none is required, but if none is specified, an error `Missing disk information` pops up.

[2018-04-09 10:35] fabiand commented on #23
Please do not add support for registryDisks to the ansible modules yet.

We need to clarfiy this approach a little more before we want to publcily support it.

[2018-04-09 10:36] tripledes commented on #23
@fabiand should we just use `pvc` then ?

[2018-04-09 10:39] fabiand commented on #23
yes please

[2018-04-10 11:28] fabiand opened #25 "Some smaller issues"
These two issues made it hard to follow the readme:

- WRT selinux it doesn't specify what "inventory" to run (e.g. let's specify it's the openshift-ansible inventory)
- The "KubeVirt parameters documentation" link is broken.

[2018-04-10 11:28] fabiand commented on #25
/cc @fsimoncelli @yuvalif

[2018-04-10 12:42] #25 closed

[2018-04-12 08:53] alexxa opened #28 "vmrs module doesn't create vms"
When one creates VMRs, VM Replicas should be created. Now it's default to 3.  `kubectl describe vmrs` shows that there are 3 of them, but Events section is Empty, and when I look for VMs, there is None.

[code]

I expect 3 VMs created as in the example [here](https://github.com/kubevirt/user-guide/blob/master/replicaset.md#example)

[2018-04-12 09:36] karmab commented on #23
@fabiand the thing is that the registry disk is already there, so should we drop from the code ?

[2018-04-12 09:37] fabiand commented on #23
No, let's just not expose it in the ansible modules.

[2018-04-12 09:39] karmab commented on #20
the following snippet should do the trick

[code]

[2018-04-12 09:50] karmab commented on #28
this is fixed in https://github.com/kubevirt/ansible-kubevirt-modules/commit/24b29e3508b8a64baa9d3f552e8f54d285f626f4 which i accidentally pushed (sorry for that)
issue was that the default image tag didnt exist.
i believe we should actually enforce the end user to specify data, instead of having default values.
we also need to decide whether we also drop registry disk at all in this code

[2018-04-12 14:43] tripledes opened #29 "Set KubeVirt Team as module author"
Currently author includes the people working on the modules, it should be set to `KubeVirt Team` and point to KubeVirt GitHub Org.

[2018-04-16 08:41] alexxa opened #31 "add kubevirt module utility"
Many [Ansible modules have utilities](http://docs.ansible.com/ansible/latest/dev_guide/developing_modules.html#appendix-module-utilities) which contain various functions used in modules. I think KubeVirt can have the same, so there will be no duplicated functions across library/kubevirt_*.py

[2018-04-16 11:52] #20 closed

[2018-04-16 11:53] #29 closed

[2018-04-16 12:46] tripledes opened #33 "Removed deprecated directory"
Currently `kubevirt_migrations` module is kept on the `deprecated` directory, it seems that is no longer part of the API, therefore it could be removed.

[2018-04-16 14:16] tripledes commented on #21
Fixed by #24, #26 and #27, closing.

[2018-04-16 14:16] #21 closed

[2018-04-16 15:38] #18 closed

[2018-04-19 06:52] tripledes commented on #23
@alexxa @fabiand just pushed #35 to hide `registrydisk` and made `pvc` required. Also amended some test playbooks to use `pvc` as well. Once the future of `registrydisk` is clear, it can be easily re-enabled.

[2018-04-19 06:54] tripledes opened #36 "Add cloud-init to VMRS module"
Cloud-init data can be used on VirtualMachineTemplate object and currently it's missing from the VMRS module.

[2018-04-19 07:06] tripledes opened #37 "Amend module's metadata"
`meta/main.yaml` needs amending.

[2018-04-19 12:38] tripledes opened #38 "wait doesn't seem to work anymore"
Seems the `wait` parameter doesn't work anymore, there might have been changes on the API. Currently it's using `virtualmachines` API group but now it seems it's called `virtualmachinepresets`.

http://www.kubevirt.io/api-reference/master/operations.html#_readnamespacedvirtualmachine

[2018-04-19 15:26] #23 closed

[2018-04-19 16:33] tripledes commented on #38
My bad, the API hasn't changed.

That being said, I'd say if a user needs to wait for the VM to be on phase `Running` to chain tasks, Ansible itself has mechanisms to perform retries and delays.

@alexxa @karmab thoughts on this?

[2018-04-20 07:48] #33 closed

[2018-04-20 13:06] #37 closed

[2018-04-20 13:50] alexxa opened #41 "delete object by name and namespace only"
If one wants to delete an object, for example, a VM, only name and namespace should be required, nth else.
ATM,
[code]
returns
[code]

and the VM is removed only when I specify `pvc`.

[2018-04-20 13:50] alexxa opened #42 "add integration tests"

[2018-04-20 17:20] tripledes opened #45 "Delete src parameter"
As it seems redundant.

[2018-04-23 11:26] #41 closed

[2018-04-23 13:05] #36 closed

[2018-04-25 11:49] alexxa opened #48 "shared documentation fragments"
If there is any duplication in modules documentation, [documentation fragments](https://ansible-manual.readthedocs.io/en/stable-2.3/dev_guide/developing_modules_documenting.html#documentation-fragments) should be used.

[2018-04-25 12:48] tripledes commented on #48
Thanks @alexxa, I think it could be part of #47

[2018-04-25 18:22] tripledes opened #49 "Labels are required for VMRS"
From: https://github.com/kubevirt/kubevirt/blob/master/pkg/virt-controller/watch/replicaset.go#L162-L165

[code]

Selector cannot be `nil`, therefore, `labels`option needs to be set to required.

[2018-04-26 08:59] tripledes commented on #49
As labels can be set also at metadata, might be worth renaming the parameter to `selector` [0]. And keep using `labels` for metadata [1].

[0] http://www.kubevirt.io/api-reference/master/definitions.html#_v1_labelselector
[1] http://www.kubevirt.io/api-reference/master/definitions.html#_v1_objectmeta

[2018-04-26 12:46] tripledes commented on #49
Open issue against KubeVirt project for clarification:

https://github.com/kubevirt/kubevirt/issues/957

[2018-06-14 09:46] tripledes commented on #22
It's being done with the rewrite of the modules, closing the issue.

[2018-06-14 09:46] #22 closed

[2018-06-14 09:46] tripledes commented on #45
Not relevant, closing.

[2018-06-14 09:46] #45 closed

[2018-06-14 09:47] tripledes commented on #49
With the rewrite, it's will have to be user's responsibility to add them. Closing.

[2018-06-14 09:47] #49 closed

[2018-06-14 09:48] tripledes commented on #31
Closing this issue, with the rewrite, module utilities are in place.

[2018-06-14 09:48] #31 closed

[2018-06-14 16:44] tripledes opened #54 "Rename OVM and VM"
Because of https://github.com/kubevirt/kubevirt/pull/1102 references to OVM and VM need to be renamed.

[2018-06-15 14:40] alexxa opened #56 "one or several separate facts modules"
ATM, there are four *_facts separate modules for vm, ovm, vmrs, vmpreset (in old naming). Maybe it will be more optimal to join them, so it will be smth like:

[code]

[2018-06-26 12:39] nellyc commented on #54
@tripledes any ETA?

[2018-06-26 12:45] tripledes commented on #54
Closed by #58.

@nellyc #58 was merged today.

[2018-06-26 12:45] #54 closed

[2018-06-26 13:07] nellyc commented on #54
@tripledes perfect! thanks

[2018-06-26 16:25] tripledes opened #60 "Some actions raise an exception"
Due to https://github.com/kubevirt/client-python/issues/21 some actions like removing a VirtualMachineInstance or getting its facts are raising an exception complaining about missing data model `V1InterfaceBridge`.

[2018-06-26 16:38] tripledes commented on #56
Hey @alexxa, after giving it a thought, I think it, indeed makes sense, specially thinking there might be more changes in KubeVirt, it'd be best to reduce the amount of work to be done in the ansible modules.

I'll give it a try with a small PoC so we can see and discuss the result before merging.

[2018-06-26 16:50] tripledes opened #61 "Move modules using patch() to KubeVirt Python client"
Now that https://github.com/kubevirt/client-python/issues/20 seems to be fixed, `kubevirt_scale_vmirs` and `kubevirt_vm_status` should use KubeVirt's Python client and avoid Kubernetes when possible.

[2018-06-27 08:05] alexxa commented on #56
@tripledes deal, thanks.

[2018-06-27 18:44] tripledes opened #63 "Marter branch needs to be added back to travis.yml"
Otherwise pull requests are not tested, looking at travis logs I see:

[code]

[2018-06-28 07:12] #63 closed

[2018-06-28 07:38] alexxa opened #65 "'DefaultApi' object has no attribute 'read_namespaced_offline_virtual_machine'"
[code]

[2018-06-28 07:55] #65 closed

[2018-06-28 11:24] alexxa opened #66 "modules expect 'oc login'"
Modules depend on and expect `oc login` before using them.

[2018-07-03 12:17] #56 closed

[2018-07-06 13:34] tripledes commented on #61
Blocked by https://github.com/kubevirt/client-python/issues/24

[2018-07-09 06:24] #66 closed, assigned to tripledes

[2018-07-18 13:03] tripledes commented on #48
@alexxa been working on this issue (see #69) but so far I cannot find a way to test the fragments as the module doesn't live in ansible tree.

The only way I managed ansible-doc to find the fragments was to link (ln -s) to $ANSIBLE_HOME/lib/ansible/utils/module_docs_fragments/$file.py.

I've just open an issue for Ansible https://github.com/ansible/ansible/issues/42938 , I might be missing somethi

[2018-07-19 08:34] tripledes commented on #48
@alexxa I'm labeling this one as blocked. Feel free to close it, can be reopen eventually.

[2018-07-19 08:54] tripledes opened #70 "Proper documentation"
Add documentation and return blocks.

[2018-07-20 10:13] tripledes commented on #48
Got a reply on the ansible issue, it's been considered a feature request as it was never intended to work the way we need to work. So our only option is to wait for it to get implemented or write the fragments whenever we are ready to send a PR for the modules be added to ansible-core. Whatever comes first.

[2018-07-26 13:16] #70 closed

[2018-08-01 07:40] #48 closed

[2018-08-01 08:44] tripledes opened #76 "Add Python 3 to the test matrix"
Python 3 support should be verified and tested.

[2018-08-01 08:49] tripledes opened #77 "Support multiple KubeVirt API versions"
Currently, KubeVirt's API is still at pre-v1 therefore the Python client doesn't support anything else.

The modules reference `V1*` objects everywhere, but eventually other versions will have to be supported as well.

Ideally, [this RFE](https://github.com/kubevirt/client-python/issues/19) would be implemented and it'll hide the Python client implementation details, easing the modules code. If th

[2018-08-01 13:32] tripledes opened #79 "Rename kubevirt_raw module"
Following the lead of kubernetes ansible modules, it'd be good idea to rename `kubevirt_raw` module to just `kubevirt`, as it seems the `raw`  portion of it scared potential users as they took it as unfinished or not something for the general public.

[2018-08-01 13:39] tripledes commented on #76
Did some testing about this and there are two problems to start fixing:

* Unit tests:

Tests using exceptions to catch the calls to `AnsibleModule.exit_json` or `AnsibleModule.fail_json` are crashing with the following error:

[code]

* KubeVirt Python client:

Using the playbook examples I get:

[code]

Seems the Python client has itself some problems to run under Python 3.6.6.

[2018-08-28 13:46] pkliczewski commented on #60
We merged this workaround https://github.com/kubevirt/kubevirt/pull/1452 and the problem does not occur any more. Real fix is in progress here: https://github.com/kubevirt/kubevirt/pull/1457

[2018-08-28 13:46] #60 closed

[2018-09-04 12:45] vatsalparekh opened #83 "unexpected keyword argument 'field_selectors'"
Running `tests/playbooks/kubevirt_all_vmis_facts.yml` gave me
[code]

[2018-09-05 20:41] lizsurette commented on #79
+1 to this. I had an additional comment on the naming of the modules that I wanted to add here. I'm happy to create a new issue if this shouldn't live here though :)

For clarity and consistency with other files/actions should we rename “kubevirt_raw_pvc.yml” to “kubevirt_pvc_create.yml”?

[2018-09-07 08:32] vatsalparekh commented on #83
[Here](https://github.com/kubevirt/client-python/blob/master/kubevirt/apis/default_api.py#L2913) the `client-python` expects the kwarg `field_selector` and not `field_selectors` like passed in https://github.com/kubevirt/ansible-kubevirt-modules/blob/master/lib/ansible/module_utils/k8svirt/helper.py#L194

[2018-09-07 08:48] pkliczewski commented on #83
Good catch! Please post a PR

[2018-09-07 09:32] vatsalparekh opened #85 "use client-python with release tags in requirements-dev.txt"
https://github.com/kubevirt/ansible-kubevirt-modules/blob/17cb64e5d354ddb9a02a4ae13bf9985be848dfe8/requirements-dev.txt#L5
 this should be a release tag from `client-python` instead of a commit hash

[2018-09-07 09:36] #83 closed

[2018-09-07 09:37] #85 closed

[2018-09-07 11:03] vatsalparekh opened #89 "InsecureRequestWarning even when verify_ssl=false was defined"
[code]
even when I had defined `verify_ssl = false` in `ansible.cfg` I get above error when running `tests/playbooks/kubevirt_raw_pvc.yml`
Not sure if it's a issue with k8s module or ours

[2018-09-11 05:56] vatsalparekh commented on #89
seems the error was false alarm here, it was just wrong namespace in the yaml

[2018-09-11 07:08] pkliczewski commented on #89
Default namespace changed.

[2018-09-11 07:08] #89 closed

[2018-09-13 09:43] vatsalparekh opened #93 "show better error msg for ApiException"
Currently if there's any `ApiException` in the module, the whole traceback is passed to user even when user has not passed verbose option `-vvv`
It would be better to show only `Reason` element from the `ApiException` object for better readability, and show full trace only when verbose is asked

[code]

[2018-09-19 14:56] mmazur opened #101 "Errors should be more readable"
On a freshly spun up kubevirt cluster with nothing on it, running e.g. _tests/playbooks/kubevirt_facts.yml_ should fail, since I have no vms, vmis or pvcs set up. And it does indeed fail. But the verboseness of the errors makes it non–obvious that the error is just a simple _VM not found_, etc. Could these errors be made easier to read?

Example:
[code]

[2018-09-20 07:15] pkliczewski commented on #101
Let's improve error messages so user can easily understand what happened.

[2018-10-24 13:06] mmazur opened #116 "Scaling module assumes VirtualMachineInstanceReplicaSet values that aren't there"
According to https://kubevirt.io/docs/workloads/controllers/virtual-machine-replica-set.html (last paragraph), a return object from a VMIRS invocation should contain "status/ready replicas" values. That's also how kubernetes' built–in RS does it.

The upstream k8s scaling code assumes __object.status.readyReplicas__ to exist as does our code ([here](https://github.com/kubevirt/ansible-kubevirt-mod

[2018-10-24 21:37] pkliczewski commented on #116
Let's check what the code returns and fix our code so it can work with VMIRS.

[2018-10-25 07:45] mmazur commented on #116
The issue is that our code is correct, it's just that VMIRS doesn't return the values required for our code to work. So I can't really fix it in our code.

What I'll do is prepare a simple test case for this and have all of you run it on your envs. If it works for you, then it's something with my env. If it doesn't, then we have an upstream bug and I'll fill a case with upstream.

[2018-10-25 12:35] mmazur commented on #116
Martin suggested to just go upstream with this. I'll check it against latest dev env and write up my problem in an issue against kubevirt itself.

[2018-10-25 16:38] pkliczewski commented on #116
@mmazur If you confirm that it doesn't work with latest master please open issue on KubeVirt and paste it here as reference.

[2018-10-25 17:58] mmazur commented on #116
I've checked today with latest kubevirt and provider k8s-1.11.0 and emailed kubevirt-dev asking if anyone would like to clarify whether it's supposed to be this way.

[2018-10-26 09:09] vatsalparekh commented on #42
@alexxa can you describe which tests you meant?
We now have e2e and other test playbooks working.

[2018-10-26 09:14] vatsalparekh commented on #61
@mmazur @machacekondra @pkliczewski now that we moved to dynamic client, is this issue valid anymore?

[2018-10-26 09:16] machacekondra commented on #61
It's not. IMHO can be closed.

[2018-10-26 09:20] #61 closed

[2018-10-26 09:43] vatsalparekh commented on #76
I also still see this
[code]
[code]
cc: @machacekondra @mmazur

[2018-10-26 09:44] vatsalparekh commented on #77
@mmazur @machacekondra now with the dynamic client, is this still relevant?

[2018-10-26 09:51] vatsalparekh commented on #93
closing this as seems similar to #101

[2018-10-26 09:51] #93 closed

[2018-10-26 11:14] mmazur commented on #77
This can be closed, the current code does not statically use any particular api version.

[2018-10-26 11:16] mmazur commented on #116
(Potential) discussion, for reference: https://groups.google.com/forum/#!topic/kubevirt-dev/WLoWkkvFgOE

[2018-10-26 11:20] mmazur commented on #76
I'm not sure this is a priority.

[2018-10-26 12:07] machacekondra commented on #77
Well, kind of. We do hardcode 'kubevirt.io/v1alpha2' as for now. I actually think we should keep this open, and think of support of different API versions.

[2018-10-29 09:58] mmazur commented on #116
Roman helped me debug, it was an issue with my env.

[2018-10-29 09:58] #116 closed

[2018-10-29 12:47] pkliczewski commented on #76
@mmazur it would be great to make it work with 2.7.x and 3.6.x

[2018-10-29 12:49] pkliczewski commented on #42
@alexxa Please check whether e2e is is OK for you.

[2018-10-31 11:39] mmazur opened #126 "e2e syntax error"
e2e.yml has a bug in the VirtualMachine definition: it defines inline.spec.spec instead of inline.spec.template.spec (kubevirt_raw_vm.yml has this done correctly as far as I can tell). Please submit a PR with a fix before further extending that playbook. @vatsalparekh @adityaramteke

[2018-10-31 13:14] adityaramteke commented on #126
@mmazur @pkliczewski I'm already fixing the same issue #124 here

[2018-11-08 08:14] pkliczewski opened #133 "Align templates with guidelines"
There are template [guidelines](https://github.com/kubevirt/common-templates/blob/master/templates/README.md) which we do not follow so we need to align the code.

[2018-11-08 13:40] mmazur commented on #76
Last week I've switched to running dev ansible on top of python3, just to make sure I hit any incompatibilities early.

[2018-11-08 13:42] pkliczewski commented on #76
@mmazur Have you noticed any issues that we should fix?

[2018-11-08 14:51] mmazur commented on #76
Nope, to the extent I've been using kubevirt_raw, everything works fine. Once I start doing stuff with kubevirt_vm, I'll have confirmation on that as well.

[2018-11-08 15:13] pkliczewski commented on #76
Great, so I think we can close this issue and reopen it if any errors would pop up.

[2018-11-08 15:13] #76 closed

[2018-11-13 14:53] alexxa commented on #42
I'm not on this project anymore. Please check with @nellyc if she is happy with the current TP and tests.

IMO, beside e2e tests on modules functionality, a module needs to pass the certain Ansible tests. See [1]. For example, that module's documentation is all build correctly, etc.

[1] https://docs.ansible.com/ansible/2.7/dev_guide/testing.html

[2018-11-13 14:57] pkliczewski commented on #42
@alexxa Sound interesting. Let's see whether we could start using `ansible-test`. @adityaramteke @vatsalparekh  what do you think?

[2018-11-13 15:04] alexxa commented on #42
@pkliczewski Mind that some sanity tests tools for Ansible may be outdated already. There were some, when I looked at them last time. Nevertheless, investigating testing of Ansible modules helped me to catch BZes on the module documentation, and others. The whole point beside my comment, is that this module should fully follow Ansible modules development policies.

[2018-11-13 21:34] alexxa commented on #42
@pkliczewski ansible testing tooling also checks dev practices =) Feel free to rename this issue, or open a new one.

[2018-11-14 06:07] adityaramteke commented on #42
@pkliczewski sound interesting. I had already discussed with @nellyc regarding how we are going to test the ansible module and we can definitely try `ansible-test`

[2018-11-14 13:36] pkliczewski commented on #42
@adityaramteke Great, I am assigning this issue to you.

[2018-11-16 10:44] pkliczewski commented on #126
@adityaramteke I see that #124 was merged. Is this issue fixed?

[2018-11-16 10:48] adityaramteke commented on #126
@adityaramteke Yes, this issue is resolved already.

[2018-11-16 11:05] pkliczewski commented on #126
:+1:

[2018-11-16 11:05] #126 closed

[2018-11-20 11:32] machacekondra opened #137 "Find out the way of reasonable defaults of nested (or/and flat) parameters"
Implement generic way of specifying of reasonable default value which isn't provided by kubevirt/k8s.

[2018-11-23 10:36] mmazur commented on #79
Ever since the move to the dynamic api client for kubernetes, the `kubevirt_raw` module was on its way out, as in effect it became just a copy of the upstream `k8s` module. We're currently in the process of replacing `kubevirt_raw` with dedicated kubevirt and k8s modules. Once that's done, `kubevirt_raw` should be dropped to not cause confusion among users.

[2018-11-23 10:36] #79 closed

[2018-11-23 10:39] mmazur opened #145 "Update docs for the New Era of Kubevirt Ansible Modules"
Once all the new modules are in place (and old modules are dropped), the documentation should be updated in a single pass to make sure the new state of things is coherently explained.

[2018-11-23 10:43] mmazur opened #146 "Expose all k8s objects in kubevirt_vm's return json"
According to docs (and in line with what upstream k8s modules do) `kubevirt_vm` should return info on both the VM and VMI it operates on. The latter is currently missing.

(Incidentally, once implemented, it might be a good idea to increase the number of `asserts` in `kubevirt_vm`'s unit tests to also cover VMI operation, since that status would now be available on module exit.)

[2018-11-23 12:06] pkliczewski commented on #146
@mmazur Please give more information about what this issue is about. It is hard to understand from current description.

[2018-12-03 13:25] adityaramteke opened #151 "parameter: username in k8s module does not work"
/kind bug

**What happened**:
[code]
The VM is get created by the default user that you are logged in and not with the mentioned user `test_user`

**What you expected to happen**:
As mentioned in the above YAML file. The creation of VM must be done by `test_user` user.

[2018-12-04 16:18] mmazur commented on #151
Initial testing suggests openshift has no issue with a token (`api_key` param), but basically ignores user+pwd. Not sure what the root cause is here and how to fix it. Working on it.

[2018-12-05 12:27] adityaramteke opened #153 "type: ClusterIP in k8s_service module gives a success result but does not create service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
While creating a service with type `ClusterIP` using `k8s_service` module gives a success result but does not create any services

[code]

**What you expected to happen**:
It should create service

**How to reproduce it (as minimally and precisely as possible)**:
100%

**Anything else we need to know?**:

**Environment**:

[2018-12-06 08:39] adityaramteke opened #154 "Unsupported parameters for (k8s) module: apiVersion, metadata"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind enhancement

**What happened**:

[pre-task](https://github.com/kubevirt/ansible-kubevirt-modules/blob/master/tests/playbooks/kubevirt_vm_multus.yml#L14-L25) has wrong parameter `apiVersion` for `k8s` module. Got an unsupported paramter error:

[code]

**What you expected to happen**:

We should mention the `api_version` parameter.

**H

[2018-12-06 08:40] adityaramteke commented on #154
/assign

[2018-12-06 09:23] #154 closed

[2018-12-06 10:15] vatsalparekh opened #156 "use kubevirt_vm instead of k8s"
This somehow slipped in, it should be `kubevirt_vm` instead of `k8s`
https://github.com/kubevirt/ansible-kubevirt-modules/blob/1a670bcc3bafac33e4a4dec7ff36de9080bce188/tests/playbooks/e2e.yaml#L43-L49

[2018-12-06 10:20] adityaramteke opened #157 "kubevirt_vm_multus failed with: unsupported parameters for (kubevirt_vm) module: volumes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[kubevirt_vm_multus.yml](https://github.com/kubevirt/ansible-kubevirt-modules/blob/master/tests/playbooks/kubevirt_vm_multus.yml) failed with:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt vers

[2018-12-06 11:37] #157 closed

[2018-12-06 11:51] machacekondra commented on #157
@pkliczewski @adityaramteke  Since those issues are automatically closed, can we add some label like, verified?

[2018-12-06 11:51] machacekondra commented on #157
I mean verified, by QE.

[2018-12-07 05:19] adityaramteke commented on #157
@machacekondra issue will get closed automatically if you mention the issue in the pull request when it merges. I don't know if we can attach some label that prevents this cause.

[2018-12-07 15:40] mmazur commented on #153
Might that be because your playbook has `state: absent`? :)

[2018-12-10 09:19] adityaramteke commented on #153
It works fine. Thanks

[2018-12-10 09:19] #153 closed

[2018-12-19 12:52] mmazur commented on #101
My guess would be no, with all the recent changes and more module specialization. I'll close it and we can reopen if it turns out there are still issues like this.

[2018-12-19 12:52] #101 closed

[2019-01-04 14:45] mmazur commented on #151
Upstream's attempts to remedy the issue can be tracked here: https://github.com/openshift/openshift-restclient-python/issues/249

[2019-01-23 09:16] pkliczewski commented on #77
Now with the recent change in api version the modules are not working due to hardcoded [version](https://github.com/kubevirt/ansible-kubevirt-modules/blob/master/lib/ansible/module_utils/kubevirt.py#L15). We need to implement detection mechanism as in https://github.com/fog/fog-kubevirt/pull/64

[2019-01-25 14:34] pkliczewski opened #172 "Make flake8 happy"
We need to make sure that flake8 is happy

[code]

[2019-01-25 15:02] mmazur commented on #172
I'm confused. What has changed with flake8?

[2019-01-25 15:05] pkliczewski commented on #172
Not sure. Maybe there is new version and travis is using automatically. I see that all the builds fail this way. Here is a sample:

https://travis-ci.org/kubevirt/ansible-kubevirt-modules/builds/484378222?utm_source=github_status&utm_medium=notification

[2019-01-25 17:22] machacekondra commented on #172
It works now, seems like some temprorary issue.

[2019-01-29 12:55] mmazur opened #177 "Bug: kubevirt modules return an admission webhook error instead of the proper 404: vm not found"
Running our kubevirt_vm_status.yml playbook against kubevirt v0.12.0…v0.13.2 with non–existent vms, the result is:

[code]

Question is – why.

/kind bug

[2019-01-29 13:04] machacekondra commented on #177
What's your playbook?

[2019-02-05 09:20] #151 closed

[2019-02-07 15:54] mmazur commented on #177
Ok, now I get it. Short version is that we're losing knowledge when using the k8s base classes. Our module can easily determine whether it wants to create a vm or just stop/start it. But that intention is never passed to the underlying code that actually executes on that (there's no way to pass that intention), which leaves said code guessing what we're trying to do. And if it guesses wrong, then

[2019-02-07 16:06] machacekondra commented on #177
But you don't know that. You don't know if user wanted actually create a stopped vm and forgot to pass some parameters. IMHO current behavior is correct and expected.

[2019-02-07 17:28] mmazur commented on #177
Problem is that if we don't make that assumption about the user's intention, then we have issues with correctly handling error cases.

In the upstream bug David Vossel asked if there was a use-case for having a VMI without any devices. And the answer as far as I can tell is no, there isn't. Which means I'm free to interpret the lack of any device specification as a clear signal that a user just wa

[2019-02-07 18:23] machacekondra commented on #177
In that case you couldn't create VM in running state in one single module call? I think it's quite nice feature.

[2019-02-07 18:25] machacekondra commented on #177
Ah, I forgot number 2). So in that case we would raise error that we can't change state of non-existent VM instead of raising an error what parameters forgot to pass. I still think current solution is better, but feel free to change.

[2019-02-11 17:01] #77 closed

[2019-02-13 09:55] machacekondra opened #184 "Add parameter how to determine whether to update VMI or VM (when update available)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `virtctl version`):
- Kubernetes version (use `kubectl version`):
- VM or VMI specifications:
- Cloud provider or hardware configuration:
- OS (e.g. from

[2019-02-13 11:25] machacekondra opened #187 "Reconsider using Ansible path of parameters instead of JSON path in editable parameter of Kubevirt_template module"
`kubevirt_template` module contains `editable` field which contains of JSON path of KubeVirt API parameter, but user passes the Ansible flatten parameters, so it might be confusing for him what to actually pass. Improve `editable` parameter so it accept flatten structure.

[2019-02-13 11:28] machacekondra opened #188 "Add validation support to Kubevirt_template module"
More info at:

 https://github.com/kubevirt/common-templates/blob/master/templates/VALIDATION.md

[2019-02-13 15:40] mmazur commented on #184
Is there a discussion for this somewhere?

[2019-02-13 15:47] mmazur opened #189 "Add compatibility/switch to openshift-restclient 0.9+"
/kind enhancement

Upstream openshift client is currently at versions 0.8.x. However, the master branch is getting ready for 0.9, which will be noticeably incompatible with current code. Once that gets released, we'll need to make a decision wrt porting, etc.

[2019-02-13 15:57] pkliczewski commented on #184
@mmazur Here is good place to discuss it.

[2019-02-13 17:00] machacekondra commented on #184
No, I just found today that it always update VM object, but user may want to update only VMI(like hotplug). So yes any ideas how to do it are welcome.

[2019-02-14 09:17] mmazur commented on #189
I've talked to upstream. Turns out we should look into this asap.

0.9 release is not purposefully backwards incompatible. There is some stuff that's being dropped, like the old way of doing watchers, but that's because in 0.8 it's possible to do it in the new, future–proof way. Potentially there are also other things like that. Plus upstream said that if we have some issues with 0.9, we can ping

[2019-02-14 09:21] mmazur commented on #189
Oh, and for reference:

[2019-02-14 09:36] mmazur commented on #184
Yesterday @masayag asked about adding devices to existing vms and was told that you can do it, but you need to do a restart for the changes to take effect (_Petr Kotas: You can add devices, But you have to restart the virtual machine to make the update_). In light of which I wonder why would this be needed? Or are there some kinds of vmi modifications that will be reflected in real–time, without t

[2019-02-14 09:41] machacekondra commented on #189
If we just start to use watch from Kubernetes client it should be enough no?

[2019-02-14 09:43] machacekondra commented on #184
Yes, for example memory or cpu hot plug, those are features supported for example by oVirt, so I believe those will be supported also by Kubevirt in future. You can also hot plug NIC and disk in oVirt.

[2019-02-14 09:46] mmazur commented on #189
It's a start, but iirc something also changed wrt to exception handling. It was a few weeks ago, I don't remember the details. Bottom line is we need to make sure this gets taken care of during the next sprint at most.

[2019-02-14 10:19] mmazur commented on #184
Ah, so something like `hotplug: bool` would be in order, which, if set to `true` (default: `false`, just to be safe?), would not only patch the VM, but also the VMI if that was already running. And then, depending on how much hotplug functionality is present in a given version of kubevirt, (some of) what has been patched in gets applied to the actual running vm.

I'm assuming here that:
1. When th

[2019-02-14 10:28] mmazur commented on #189
I've bumped the prio, since this is especially important to get done and merged into upstream before they do their freeze.

[2019-02-14 16:07] pkliczewski opened #194 "Enable py3 runtime in travis"
We need to enable python3 runtime when running build on each PR.

[2019-02-18 10:20] vatsalparekh opened #199 "[UX] improve kubevirt_cdi_upload module"
**What happened**:
Current `kubevirt_cdi_upload` module expects to have a pvc where it can upload the image
**What you expected to happen**:
`virtctl image-upload` also aims to achieve similar flow from cli, but it creates a PVC and uploads to it directly. We can improve this module to avoid creating of pvc first and then uploading to it.

[2019-02-18 13:12] pkliczewski commented on #137
@machacekondra Is this issue still valid?

[2019-02-19 16:10] pkliczewski commented on #199
What do you think if `pvc` is not available to create it and use `kubevirt_cdi_upload` as expected?

[2019-02-20 08:44] mmazur commented on #199
Please rephrase the question.

[2019-02-21 12:44] pkliczewski commented on #145
@mmazur I think we can work on this issue now.

[2019-02-21 12:59] machacekondra commented on #145
What exactly do you mean by this issue? The documentation is part of Ansible:

 https://docs.ansible.com/ansible/devel/modules/list_of_cloud_modules.html#kubevirt

[2019-02-21 13:02] pkliczewski commented on #145
This is the issue #145 :) I think we need to update documentation in this repo but if you feel there is nothing to be done please close

[2019-02-21 13:42] mmazur commented on #145
Yes, I'd like our readme to be clearer on where you can find the stuff we do and what's where and how.

I will do the words. I do good words. Will be great.

[2019-02-21 14:25] machacekondra commented on #145
Well if you think some kind of 'how to' use it, best practises etc. +1 from me.

[2019-02-22 08:20] pkliczewski commented on #146
@mmazur Is this still valid?

[2019-02-25 15:57] mmazur commented on #146
My heart wants to say yes, but in reality this is waay too low prio to matter.

[2019-02-25 15:57] #146 closed

[2019-03-06 12:44] pkliczewski commented on #156
I can see that e2e playbook was updated some time ago so closing this issue.

[2019-03-06 12:44] #156 closed

[2019-03-20 13:47] #137 closed

[2019-04-04 11:24] mmazur commented on #177
Fixed upstream.

[2019-04-04 11:24] #177 closed

[2019-04-23 09:54] tripledes opened #222 "HTTPResponse' object has no attribute 'read_chunked'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Using:

[code]

The VM/I were created but Ansible returned error:

[code]

**What you expected to happen**:

Ansible to report changed = 1

**How to reproduce it (as minimally and precisely as possible)**:

Try to apply the above playbook

**Anything else we need to know?**:

**Environment**:
- KubeVirt version (use `vir

[2019-04-23 10:04] mmazur commented on #222
1. Please verify all your libs in pip are up to date (`openshift` in particular).
2. If you could attach the full stack trace of the issue when running `ansible-playbook -vvv`

(For reference: https://github.com/openshift/openshift-restclient-python/issues/273 though this should not happen in our current code.)

[2019-04-23 10:49] tripledes commented on #222
I'm not using pip but rather the ansible (downstream) rpm version 2.8.0b.

[code]

[2019-04-23 11:09] mmazur commented on #222
Ok, based on that backtrace it does indeed seem like the python libs are rpm–sourced. In that case, please provide the output of `rpm -qf /usr/lib/python2.7/site-packages/openshift/dynamic/client.py /usr/lib/python2.7/site-packages/kubernetes/watch/watch.py`

[2019-04-23 11:42] tripledes commented on #222
python2-openshift-0.8.6-1.el7.noarch
python2-kubernetes-8.0.1-1.el7.noarch

[2019-04-23 13:18] mmazur commented on #222
Ok, I'll see what we can figure out as to the causes.

[2019-05-02 12:20] vatsalparekh commented on #42
Closing this as we have e2e.yaml merged, and modules are run in CI now

[2019-05-02 12:20] #42 closed

[2019-05-07 10:17] pkliczewski commented on #133
@machacekondra I think that this was fixed already. Are you ok to close it?

[2019-05-07 10:31] #133 closed

[2019-05-15 08:39] pkliczewski commented on #188
@machacekondra Have we added the validation?

[2019-05-15 08:40] pkliczewski commented on #187
@machacekondra Do we still want to do it?

[2019-05-15 08:50] machacekondra commented on #188
Not yet.

[2019-05-15 08:52] machacekondra commented on #187
Yes, I would keep this open. It would be good improvement imho.

[2019-05-15 11:25] pkliczewski commented on #189
@mmazur Do we want to still work on this item?

[2019-05-15 11:28] mmazur commented on #189
This has been completed, closing.

[2019-05-15 11:28] #189 closed

[2019-05-21 11:00] pkliczewski commented on #199
@mmazur is it still valid?

[2019-05-21 14:44] mmazur commented on #199
Not in its current form. Integrating upload functionality into `kubevirt_pvc` and `kubevirt_vm` is still on the table, but that's not what this issue is about. Closing.

[2019-05-21 14:44] #199 closed

[2019-05-22 14:29] pkliczewski commented on #145
@mmazur Is this still valid issue? The modules were moved long time ago.

[2019-05-22 14:30] mmazur commented on #145
Yup, still relevant. I'm planning on updating the docs to use the blog entries as the proper introduction… once those get published.

[2019-05-23 13:21] mmazur opened #232 "result.kubevirt_vm.status missing when kubevirt_vm used for checking state of running vm with wait: no"
**Is this a BUG REPORT or FEATURE REQUEST?**: bug

/kind bug

Not sure if this is something I just wasn't expecting or an actual bug in `kubevirt_vm`, which is why I'm putting this here for the time being and not in ansible/ansible.git.

So, in `tests/playbooks/kubevirt_vm.yml` around line 132 (task "Verify the vm exists and is actually up") if `wait: no` is set, then the thing fails with `The con

[2019-05-31 09:31] mmazur opened #240 "Repeated CI instability on minikube (travis)"
/kind bug

We've been hitting a random issue when running our ~~pvc creation~~ tests, which ends up with this error message:

[code]

Since it wasn't consistent, we've chalked it up to TravisCI being weird. Now we're on Jenkins with completely different hw running the cluster+tests and are seeing the same issue.

Google says that this is rare, but does happen on occasion:

1. https://github.com/gl

[2019-05-31 09:36] mmazur commented on #240
Btw, the timeout on this is only 10 seconds: https://github.com/kubernetes/kubernetes/blob/cc67ccfd7f4f0bc96d7f1c8e5fe8577821757d03/plugin/pkg/admission/resourcequota/controller.go#L620

[2019-05-31 11:48] pkliczewski commented on #240
@mmazur can you check how kubevirt ci is working? I think they should have solved the issues already. Let's reuse what they did so far.

[2019-05-31 14:50] mmazur opened #242 "ansible @devel and @stable-2.8 break kubevirt_pvc (annotations aren't set)"
You know how CI has been flaky recently?

One reason is that #240 is actually a real thing that we're hitting on occasion. (But that's a different story.)

The other is that CI is using devel branch of ansible (on purpose, to catch stuff early) and that actually broke in recent days. And that's the other bug we've been hitting.

Specifics are: if trying to utilize CDI with `kubevirt_pvc`, that dep

[2019-05-31 15:21] mmazur commented on #240
@davidvossel has started working on a consumable version of the cluster setup/teardown scripts just now. As soon as they're ready, we'll switch. If it fixes this issue, great. If not, then it won't be just our problem. :)

[2019-05-31 16:03] mmazur commented on #240
Just occurred to me that travis was minikube and jenkins is kubevirtci, so it must be a weird bug we're hitting.

[2019-06-04 11:59] pkliczewski commented on #242
Tracked by BZ [1716905](https://bugzilla.redhat.com/1716905)

[2019-06-05 08:54] mmazur opened #246 "Further CI goals"
We use Travis and Jenkins. Based on their inherent limitations and the past few weeks of experience:

1. Travis is quicker/more reliable to respond than Jenkins.
2. But Travis can only run minikube with emulated VMIs.
3. While Jenkins can run anything kubevirt/kubevirtci supports, including (eventually) okd4.
4. Travis has the ability to run manual builds with env overrides (for e.g. testing upstr

[2019-06-05 08:58] pkliczewski commented on #246
I would add one more which in my opinion is the most important:
5. Make the CI reliable

We can't afford CI to always fail

[2019-06-05 09:27] mmazur commented on #246
The CI is reliable. It reliably tells you that all of our playbooks are fine with ansible 2.8, but they fail on the pvc module with ansible 2.9. :) But you need to actually go through the logs to figure that out.

What we need is a way to quickly figure out where the tests fails, to be able to make debug/ignore/merge decisions. Which is why I've written this down, so that I have a basis for a stor

[2019-06-05 09:32] mmazur commented on #242
Github logic was mistaken.

[2019-06-05 09:37] pkliczewski commented on #246
We notice that the tests fail by seeing CI red. Now we see it red all the time and it is not acceptable. This needs to be the highest priority.

[2019-06-25 11:12] mmazur commented on #240
Seems that ever since [`kubevirt_pvc` tests were moved to run first](https://github.com/kubevirt/ansible-kubevirt-modules/commit/bfb491314efd16c1d9e811c80466a9d2181a14e5#diff-d244dcc82dba8ee1c894c4b4071a2798) the same issue gets hit on a different playbook. [This build log](https://api.travis-ci.org/v3/job/550205866/log.txt) hits the same issue in the preset playbook, which is also near the end of

[2019-06-25 14:27] mmazur commented on #242
Fix merged both in stable-2.8 and devel branches. 2.8.2 should be released in a few days. Closing.

[2019-06-25 14:27] #242 closed

[2019-06-25 14:28] mmazur commented on #194
Done.

[2019-06-25 14:28] #194 closed

[2019-06-25 14:33] mmazur commented on #240
Yup, the fails happen close to the end of the ansible run, but not always at the same point:
-  [`kubevirt_preset`](https://api.travis-ci.org/v3/job/550302839/log.txt)
- [`e2e`](https://api.travis-ci.org/v3/job/550302838/log.txt)

[2019-06-26 10:11] mmazur commented on #240
Just checked and minikube does not set any memory limits on the containers (except the coredns ones), so with 7+ gigs at its disposal, the cluster is probably not running out of memory.

[2019-06-26 10:56] mmazur commented on #240
[code]

Source: https://api.travis-ci.org/v3/job/550713626/log.txt

[2019-06-27 09:25] mmazur opened #263 "OKD4: api server produces output unparsable by urllib3"
[code]

Same thing with many other tasks (e.g. `kubevirt_dv_vm.yaml` / TASK [Create a Cirros VM from a DataVolume]). Possibly CDI related?

[2019-06-27 10:06] mmazur commented on #240
Added a workaround for this to our tests that kick in when we're running on travis ([here](https://github.com/kubevirt/ansible-kubevirt-modules/pull/262/commits/a62f135c6da65d57c58e931eea6b58f09ac23b2b)). Basically a bunch of sleeps to let the cluster recover from errors between playbooks.

[2019-06-27 13:24] mmazur opened #265 "OC3: kubevirt_pvc cloning problem"
[code]

Interestingly enough we might've hit something similar on a travis/minikube build: https://travis-ci.org/kubevirt/ansible-kubevirt-modules/builds/551229876  [[RAW LOG](https://api.travis-ci.org/v3/job/551229878/log.txt)]

[2019-06-27 14:05] mmazur commented on #263
Also looks like it might case something to do with the underlying python-openshift library.

[2019-06-28 12:45] mmazur commented on #265
Upstream CDI issue for OS3: https://github.com/kubevirt/containerized-data-importer/issues/870

[2019-06-29 03:50] ccamacho commented on #222
Hey folks, I had the same issue and the only way to fix it from my side was by:
https://github.com/kubernetes-client/python-base/pull/140
@mmazur @tripledes

Reported here: https://github.com/kubernetes-client/python-base/issues/139

[2019-07-01 11:01] mmazur commented on #246
Done, done and done. Closing.

[2019-07-01 11:01] #246 closed

[2019-07-02 09:45] mmazur commented on #263
A bit of relevant info:
[code]

Also a [full build log where this happens](https://kubevirt-master-stdci-production.apps.ovirt.org/blue/rest/organizations/jenkins/pipelines/kubevirt_ansible-kubevirt-modules_standard-check-pr/runs/144/nodes/106/log/).

[2019-07-05 12:04] mmazur commented on #145
Done.

[2019-07-05 12:04] #145 closed

[2019-09-25 10:27] pkliczewski commented on #240
@mmazur Is it something we still want to work on?

[2019-09-25 10:31] mmazur commented on #240
Yes, very much so. Next time I'm working on something in the vicinity, I'll definitively try to get this debugged, as we rely on the travis CI very heavily and it'd be great if that didn't fail every once in a while for no good reason.

[2019-09-26 13:03] pkliczewski commented on #265
Corresponding CDI issue is closed. @mmazur should we close this one as well?

[2019-09-27 08:18] #265 closed

[2019-09-27 08:20] mmazur commented on #222
Closing. If we hit it again, we can reopen. Maybe someone fixed it somewhere else in the code… 🤞

[2019-09-27 08:20] #222 closed

[2019-09-30 11:46] pkliczewski commented on #263
@mmazur is it still a valid issue?

[2019-09-30 12:42] mmazur commented on #263
Yes, this is the same error as https://bugzilla.redhat.com/show_bug.cgi?id=1751744

[2020-01-10 10:46] #187 closed

[2020-01-10 12:48] #184 closed

[2020-01-10 12:48] #188 closed

[2020-01-19 17:24] #232 closed

[2020-02-22 12:41] #240 closed

[2020-02-27 14:09] #263 closed

[2022-02-22 16:07] B3DTech opened #281 "KubeVirt on Mac can't find support code for module"
/kind bug

**What happened**:
Installed Ansible on Mac for the user using pip method.

Built a KubeVirt playbook and ran it with ansible-playbook deployvm.yaml and get the following error:

`fatal: [localhost]: FAILED! => {"msg": "Could not find imported module support code for ansible_collections.community.kubevirt.plugins.modules.kubevirt_vm.  Looked for (['ansible_collections.community.kubernet

[2022-02-22 17:21] mmazur commented on #281
I believe since the modules have been upstreamed, somewhere upstream should be the place to file a bug. This repo should likely be archived.

[2022-02-23 07:24] pkliczewski commented on #281
@fabiand FYI

[2022-07-23 09:26] #281 closed